.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    margin: 10px 10px;
}

body {
    background-color: black;
}


@media (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
    }
}